<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeeleaf/layout"
      layout:decorate="/layouts/navbar"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>List of products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content" class="mt-5 mx-3 offset-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>List of products</h1>
        <form class="d-flex" th:action="@{/public/products}" method="get">
            <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search by name..."
                    aria-label="Search"
                    name="search"
                    th:value="${search}">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>

        <a sec:authorize="hasRole('ADMIN')"
           th:href="@{/admin/products/new}"
           class="btn btn-primary btn-lg shadow-sm rounded">
            Add Product
        </a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products.content}">
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.description}"></td>
            <td class="d-flex gap-2">
                <form th:action="@{'/admin/products/delete/' + ${p.id}}" method="post">
                    <button onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger">Delete
                    </button>
                </form>
                <a th:href="@{'/admin/products/edit/' + ${p.id}}" class="btn btn-secondary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <li th:class="${!products.hasPrevious()} ? 'page-item disabled' : 'page-item'">
                <a th:if="${products.hasPrevious()}"
                   class="page-link"
                   th:href="@{/public/products(page=${products.number - 1}, size=${products.size}, search=${search})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>

                <a th:unless="${products.hasPrevious()}"
                   class="page-link disabled" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:each="i : ${#numbers.sequence(0, products.totalPages - 1)}"
                th:class="${i == products.number} ? 'page-item active' : 'page-item'">
                <a class="page-link"
                   th:href="@{/public/products(page=${i}, size=${products.size}, search=${search})}"
                   th:text="${i + 1}">1</a>
            </li>

            <li th:class="${!products.hasNext()} ? 'page-item disabled' : 'page-item'">
                <a th:if="${products.hasNext()}"
                   class="page-link"
                   th:href="@{/public/products(page=${products.number + 1}, size=${products.size}, search=${search})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>

                <a th:unless="${products.hasNext()}"
                   class="page-link disabled" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
</body>
</html>
